Repository tini-transcendence/tini-pong, pull requests merged in 2024-04, with the labels that each got.

#59 Dockerfile 수정
  server/Dockerfile
Labels: backend, fix

#61 OTP 개선
  server/auth/views.py
  server/user/migrations/0004_user_has_logged_in.py
  server/user/models.py
Labels: backend, feature

#60 :bug: fix: pong 게임 창에 반복하여 접근할수록 애니메이션 프레임이 올라가는 현상 수정
  frontend/src/components/Local.js
  frontend/src/games/local_pong.js
  frontend/src/index.js
  frontend/src/utils/animateGameModule.js
Labels: frontend, fix

#63 유저 프로필 관련 API
  server/user/urls.py
  server/user/views.py
Labels: backend, feature

#64 OTP 관련 예외 수정
  server/auth/views.py
Labels: backend, fix

#65 :bug: fix: local pong game의 key down, up event listener가 계속 살아있는 오류 수정
  frontend/src/components/Local.js
  frontend/src/components/Main.js
  frontend/src/games/local_pong.js
Labels: frontend, fix

#66 OTP QR코드 생성페이지 및 인증 페이지
  frontend/src/components/Oauth.js
  frontend/src/components/Otp.js
  frontend/src/components/OtpQR.js
  frontend/src/index.js
  frontend/src/style.css
  frontend/src/utils/qrcode.js
Labels: frontend, feature

#67 🚑 fix: roomuser 중복추가 해결
  server/room/migrations/0006_alter_roomuser_unique_together.py
  server/room/migrations/0007_alter_roomuser_unique_together.py
  server/room/models.py
  server/room/views.py
  server/websocket/consumers.py
Labels: backend, fix

#68 Dockerfile 수정
  server/Dockerfile
Labels: backend, fix

#71 First Login 및 UserEdit
  frontend/src/components/Oauth.js
  frontend/src/components/Otp.js
  frontend/src/components/UserEdit.js
  frontend/src/utils/defenseXss.js
  server/server/settings.py
Labels: frontend, feature

#73 유저 프로필 관련 수정
  server/auth/views.py
  server/user/migrations/0005_user_message_alter_user_nickname.py
  server/user/models.py
  server/user/views.py
Labels: backend, feature

#74 feat: Room leave 작동 추가
  frontend/src/components/Room.js
Labels: frontend, feature

#75 🚑 fix: 방 나가기 작동되도록 수정
  frontend/src/components/Room.js
  server/websocket/consumers.py
Labels: backend, fix

#76 UserPage 구성
  frontend/src/components/MyPage.js
  frontend/src/components/Navbar.js
  frontend/src/components/UserPage.js
  frontend/src/components/Users.js
  frontend/src/index.js
Labels: frontend, feature

#77 🐛 fix: useredit fetch 오타 수정
  frontend/src/components/UserEdit.js
Labels: frontend, fix

#79 fix : game start시 이동 url 수정
  frontend/src/components/Room.js
Labels: frontend, fix

#78 유저 프로필 가져오기 API 기능 추가
  server/user/views.py
Labels: backend, feature

#80 환경변수 추가
  server/server/settings.py
Labels: backend, chore

#82 🔨 refactor: fetch 주소 DOMAIN_NAME으로 모듈화
  frontend/src/components/Lobby.js
  frontend/src/components/Navbar.js
  frontend/src/components/Oauth.js
  frontend/src/components/Otp.js
  frontend/src/components/OtpQR.js
  frontend/src/components/UserEdit.js
  frontend/src/components/UserPage.js
  frontend/src/components/tournamentData.js
  frontend/src/index.js
  frontend/src/utils/fetchmodule.js
  frontend/src/utils/loginmodule.js
Labels: frontend

#83 ✨ feat: localhost to serverhost
  docker-compose.yml
  frontend/src/components/Login.js
  frontend/src/components/Room.js
  frontend/src/index.js
  frontend/tools/entrypoint.sh
  server/server/settings.py
Labels: backend, frontend, feature

#84 isLogin 로직 수정, location.href 대신 navigateTo 사용
  frontend/src/components/Lobby.js
  frontend/src/components/Login.js
  frontend/src/components/Main.js
  frontend/src/components/Oauth.js
  frontend/src/components/Otp.js
  frontend/src/components/OtpQR.js
  frontend/src/components/Room.js
  frontend/src/components/UserEdit.js
  frontend/src/components/UserPage.js
  frontend/src/index.js
  frontend/src/utils/loginmodule.js
Labels: frontend, feature

#85 🐛 fix: leave 오류 수정
  frontend/src/components/Room.js
  server/room/urls.py
  server/room/views.py
  server/websocket/consumers.py
Labels: backend, fix

#86 ✨ feat: avatar image resize
  frontend/src/components/UserEdit.js
Labels: frontend, feature

#90 환경변수 수정
  frontend/src/components/Lobby.js
  frontend/src/components/Login.js
  frontend/src/components/Navbar.js
  frontend/src/components/Oauth.js
  frontend/src/components/Otp.js
  frontend/src/components/OtpQR.js
  frontend/src/components/Room.js
  frontend/src/components/UserEdit.js
  frontend/src/components/UserPage.js
  frontend/src/components/tournamentData.js
  frontend/src/index.js
  frontend/src/utils/fetchmodule.js
  frontend/src/utils/loginmodule.js
  frontend/tools/entrypoint.sh
  server/server/settings.py
Labels: chore

#91 중복 닉네임 및 id_tag 반영
  frontend/src/components/Navbar.js
  frontend/src/components/UserEdit.js
  frontend/src/components/UserPage.js
  server/friend/views.py
Labels: frontend, feature

#92 🐛 fix: UserEdit validNick 오류 수정
  frontend/src/components/UserEdit.js
Labels: frontend, fix

#95 Room Model max_players 필드 제거
  server/room/migrations/0008_remove_room_max_players.py
  server/room/models.py
  server/room/views.py
Labels: backend, chore

#96 Oauth uid 변수화
  frontend/src/components/Login.js
  frontend/src/index.js
  frontend/tools/entrypoint.sh
Labels: frontend, feature

#100 oauth API 비동기로 전환
  server/Pipfile
  server/Pipfile.lock
  server/auth/views.py
  server/middleware/auth_middleware.py
  server/server/settings.py
  server/server/wsgi.py
  server/user/urls.py
  server/user/views.py
  server/util/fetch.py
Labels: backend, feature

#101 온라인 상태 판별 시간 변경
  server/friend/views.py
Labels: backend, fix

#102 XSS 방어
  server/room/views.py
  server/user/views.py
  server/util/sanitize.py
Labels: backend, feature

#104 🐛 fix: a 태그에서 SPA가 제대로 동작하지 않는 문제 수정
  frontend/src/components/Main.js
  frontend/src/components/Navbar.js
  frontend/src/components/UserPage.js
Labels: frontend, fix

#105 ✨ feat: friendlist reload 버튼 추가
  frontend/src/components/Navbar.js
Labels: frontend, feature

#106 게임 타입별 플레이어 인원수 검증, 디버깅라인 삭제
  server/core/admin.py
  server/core/models.py
  server/core/views.py
  server/room/views.py
  server/websocket/consumers.py
  server/websocket/tests.py
  server/websocket/views.py
Labels: backend, feature

#107 유저 전적 불러오는 모델, API뷰 작성
  server/dashboard/migrations/0002_remove_tournamenthistory_user1_and_more.py
  server/dashboard/migrations/0003_alter_onevsonegameresult_room_and_more.py
  server/dashboard/models.py
  server/dashboard/serializers.py
  server/dashboard/tests.py
  server/dashboard/urls.py
  server/dashboard/views.py
Labels: backend, feature

#109 ✨ feat: Add UserPage Log radiobtn
  frontend/src/components/UserPage.js
  frontend/src/style.css
Labels: frontend, feature

#111 Room remodel
  frontend/src/components/Room.js
  frontend/src/index.js
  frontend/src/style.css
Labels: frontend, fix

#113 Style 및 자잘한 버그 수정
  frontend/index.html
  frontend/src/components/Login.js
  frontend/src/components/Main.js
  frontend/src/components/Navbar.js
  frontend/src/components/Room.js
  frontend/src/components/UserEdit.js
  frontend/src/components/UserPage.js
  frontend/src/index.js
  frontend/src/style.css
  frontend/src/utils/loginmodule.js
Labels: frontend, feature, fix

#115 ✨ feat: 게임룸 생성 시 title xss방어, enter시 새로고침 수정
  .DS_Store
  frontend/src/components/Lobby.js
Labels: frontend, feature

#117 🐛 fix: room title xss 변경
  frontend/src/components/Lobby.js
Labels: frontend, fix

#125 UserPage Dashboard & Room id_tag
  frontend/src/components/Room.js
  frontend/src/components/UserPage.js
  server/user/views.py
Labels: frontend, feature

#126 전적 페이지에 플레이어넘버 반영 안되는 오류 수정
  server/user/migrations/0003_remove_gameresult_players_gameresult_player1_and_more.py
  server/user/models.py
  server/user/views.py
  server/websocket/consumers.py
Labels: backend, fix

#131 Room Style 및 UserPage 2:2 전적 버그 수정
  frontend/src/components/Room.js
  frontend/src/components/UserPage.js
  frontend/src/img/Room_block.png
  frontend/src/img/Room_crown.png
  frontend/src/img/Room_null.png
  frontend/src/style.css
Labels: frontend, feature, fix

#134 Fetch과정에서 생긴 오류를 클라이언트에게 alert로 표시
  frontend/src/components/Lobby.js
  frontend/src/components/Oauth.js
  frontend/src/components/OtpQR.js
  frontend/src/components/UserEdit.js
  server/room/views.py
Labels: frontend, feature

#152 django secret 환경변수로 변경
  server/server/settings.py
Labels: backend, chore

#155 fix: tdata뒤로가기 수정, data 랜더링 이전 초기화 추가
  frontend/.vscode/settings.json
  frontend/src/components/Room.js
  frontend/src/components/tournamentData.js
Labels: frontend, fix
